{% extends 'base.html.twig' %}

{% block body %}

	<div class='cpx-content-main cpx-aup-main'>
  		<div id='error' class='cpx-error cpx-aup-error'></div>
  		<div id='cpx-title' class='cpx-content-title cpx-aup-title'>
    		<center>Bienvenido a <br> UIC - Universidad Intercontinental Servicio WiFi
  		</div>

  		<div class='cpx-aup-icon'>
    		<img src="{{ asset('public/img/info.png') }}"/>
  		</div>

		<div id='cpx-messageHtml' class='cpx-content-messageHtml cpx-aup-messageHtml'>
		    <hr>
			<p align= "justify">
				Acceso a WiFi UIC - Universidad Intercontinental Servicio RESTRINGIDO a usuarios autorizados y requiere la aceptación de los Términos y Condiciones. Una vez autorizado el acceso, el dispositivo se configura con un certificado único para acceso a la red.
				<br>
			</p>

			<hr>
			<hr>
			<p align= "justify"><b>Para obtener una guía de como registrar tus dispositivos a la Red Inalambrica:
			<br>
			<p align= "center">Envía un correo a: serviciosweb@uic.edu.mx
				<br>
			</p>
			</b>
			<hr>
			<hr>
			<p><center><b>
				POLITICAS DE USO DEL<br>
				SERVICIO DE INTERNET INALAMBRICO SII-UIC
			<p><center></b>
			<hr>

			<div style="width:350px;height:200px;overflow:auto;">
				<p align= "justify">
					<b>Generalidades</b><br>
					La UIC, Universidad Intercontinental A.C., a través de la Dirección de Tecnologías de Información, proporciona a la comunidad universitaria y sus invitados el Servicio de Internet Inalámbrico (SII-UIC), para la navegación en internet como un recurso y herramienta para enriquecer las labores académicas, de investigación, difusión de la cultura y deporte.
					<br>
					Esta política establece los lineamientos generales a seguir para el acceso y uso de la SII-UIC, la UIC tiene la facultad de crear, modificar y emitir nuevas políticas de acceso y de uso;  en consecuencia se reserva el derecho de hacerlo en cualquier momento, sin previa notificación a los usuarios y publicar posteriormente dichas políticas.
					<br>
					Al iniciar sesión como usuario registrado, visitante o invitado indica que usted ha leído y aceptado la política de uso del servicio de internet inalámbrico (SII-UIC).
					<br>
					Este servicio no puede ser utilizado para fines impropios a lo académico, actividades ilegales, criminales o en perjuicio de terceros; todo usuario haciendo mal uso de este servicio será bloqueado y no se le permitirá ingresar al mismo. 
					<br>
					La Dirección de Tecnologías de Información está autorizada para realizar monitoreo, análisis e inspecciones constantes de los dispositivos conectados así como del tráfico que se genere al ingresar al SII-UIC, con el propósito de mantener la integridad, confiabilidad, seguridad y operación efectiva de la red.
					<br><br>
					<b>Suspensión del Servicio</b><br>
					La UIC puede establecer límites de uso, suspender, desactivar temporalmente, cancelar el servicio o bloquear ciertos comportamientos, accesos o dominios para proteger la red universitaria de actividades que atenten la seguridad de los usuarios así como del mismo servicio. A criterio de la Dirección de Tecnologías de Información podrá reactivar el servicio de internet inalámbrico cuando considere que el o los usuarios no volverán a incurrir en una conducta inapropiada.  
					<br>
					Violaciones prohibidas, de la seguridad o integridad del servicio incluyen, pero no se limitan a lo siguiente: El intento de iniciar sesión en o de otra manera obteniendo o tratar de obtener acceso no autorizado de cualquier sistema o registro de cuentas, información, claves, usuarios o contraseñas.
					Intentar explorar, escanear o probar la vulnerabilidad de cualquier sistema, subsistema o red, y manipulación, la piratería, la modificación, la corrupción o violar la seguridad o las medidas de autenticación sin la debida autorización, Introducir o descargar material que contenga virus informático, malware en la red, caballos de Troya, gusanos, bombas de tiempo o cualquier otro programa informático o motores con la intención o el efecto de dañar la transmisión, o el servicio de Internet inalámbrico, negación del servicio, phishing, destruyendo o alterando de otra manera la funcionalidad de computadoras, teléfonos celulares o dispositivos asociados a la red operativa del SII-UIC; Prohibido utilizar este servicio para permitir a otra persona a acceder a los sistemas e interferir o interceptar datos o información sin autorización.

					<br>
					Prohibido la transmisión de contenido fraudulento, difamatorio, obsceno, ofensivo o de vandalismo, insultante o acosador por medio del Servicio de Internet Inalámbrica de la UIC, así como enviar mensajes no solicitados tipo spam y realizar actividades delictivas en general.
					<br>
					Prohibido transmitir, copiar y/o descargar algún material que viole la ley, cómo por ejemplo material con derecho de autor, pornografía de cualquier tipo en especial la infantil, entre otros. También está prohibido la instalación y uso de programas tipo P2P “peer-to-peer” para el intercambio de archivos en internet.
					<br>
					Al utilizar este servicio, usted no puede usar o introducir cualquier herramienta de monitoreo o de escaneado en red para monitorear o escanear cualquier Servicio, sin la aprobación expresa por escrito de la UIC. Incluso con la aprobación por escrito, estas herramientas sólo pueden ser utilizadas con fines de investigación, análisis, desarrollo y pruebas, según lo autorizado por la Dirección responsable de proporcionar el servicio.
					<br>
					Cualquier conducta que viole las normas aceptadas dentro de la comunidad de Internet, esté o no detallada en esta política de uso aceptable.
					<br><br>
					<b>Disponibilidad del Servicio de Internet Inalámbrico</b><br>
					El SII-UIC está  disponible las 24 horas del día y todos los días del año, salvo en situaciones de fuerza mayor, por cortes parciales o interrupciones relativas al mantenimiento preventivo y/o correctivo de los equipos y elementos relacionados a la prestación del servicio.
					<br><br>
					<b>Cobertura</b><br>
					Tendrá un alcance de operación específico identificado en el plano de cobertura creado para ese fin.

					<br><br>
					<b>Acceso, registro, seguridad y configuración</b><br>
					Estudiantes, Docentes y personal Administrativo (SSID Registro-UIC)
					Será necesario para accesar y usar el Servicio de Internet Inalámbrico que este registrado, para Estudiantes y personal Docente utilizaran el usuario y contraseña definido para la consulta de calificaciones; para el personal administrativo se validará con la cuenta de correo electrónico y su contraseña; el registro se realizará una vez por dispositivo y hasta un máximo de 3 por usuario (para el cambio de dispositivo se tiene que eliminar uno de los ya registrados para liberar la posibilidad de un nuevo enrolamiento).
					<br>
					Para mayor seguridad al registrarse y utilizar los servicios de Internet inalámbrico (SII-UIC) se proporcionará un certificado para “Estudiantes”, “Docentes” y “Personal Administrativo” que se tendrá que instalar en los dispositivos que quieran ingresar al SII-UIC, y que esto no sustituye o invalida cualquier mecanismo de protección propio del dispositivo como antivirus, firewall, etc. 
					<br><br>
					<b>Visitantes (SSID Visita-UIC)</b><br>
					Los visitantes a la Institución podrán accesar y utilizar el SII-UIC ingresando al portal creado para tal efecto, la clave de acceso la podrán obtener en diferentes áreas de la Institución como Promoción, Recepción de Rectoría, Biblioteca, Recepción de la Dirección de Administración, Recepción del Plantel Roma, Actividades Deportivas y Difusión Cultural entre otras; en donde se les permitirá navegar en Internet y utilizar algunas aplicaciones de redes sociales, limitando el uso del vídeo y el ancho de banda.

					<br><br>
					<b>Invitados (SSID XXXX-UIC)</b><br>
					Los invitados a la Institución podrán accesar y utilizar el SII-UIC ingresando un segmento de red específico, para la asignación de este servicio es necesario que cada área de la Institución solicite por correo electrónico a la Dirección de Tecnologías de Información la creación de los perfiles de acuerdo a las necesidades y se proporcionará tomando en cuenta la disponibilidad de recursos de ancho de banda que les permita navegar en internet y utilizar aplicaciones de redes sociales.
					<br><br>
					<b>Responsabilidad</b><br>
					Usted es el único responsable de mantener la confidencialidad de su información, el usuario y la contraseña para el ingreso y uso del servicio de internet inalámbrico, como de asegurar la confidencialidad o la seguridad de cualquier información o transmisiones a través del mismo. 
					Al utilizar este servicio, usted acepta que es su responsabilidad proteger su computadora, laptop y/o dispositivos mientras está conectado al  (SII-UIC), y renunciar a cualquier derecho, remedios u otras demandas contra la UIC con respecto a cualquier daño que pueda ser causado a su equipo durante el uso del mismo.
					<br>
					He leído y entendido las condiciones de uso del SII-UIC y declaro conocer las políticas y normas establecidas por la UIC, Universidad Intercontinental A.C. Estoy de acuerdo en acatar las directrices anteriores y entender que el incumplimiento de estas, puede resultar en el bloqueo de mis derechos para usar el SII-UIC y asumir las sanciones legales si corresponden.

				</p >
			</div>
  		</div>
  		<div id='cpx-bottomLabel' class='cpx-content-bottomTitle cpx-aup-bottomTitle'></div>

	  	<div id='cpx-eula' class='cpx-eula cpx-aup-eula'>
	    	<div id='cpx-eulaBox' class='cpx-eulaBox cpx-aup-eulaBox'>
	      		<div id='cpx-fieldLabel-eula' class='cpx-aup-eulaBox-label'>
	        		Acepto los <a id='eulaFile' target="_cpn" href='{{ path('terminos') }}'>Terminos y Condiciones</a>
	      		</div>
	      		<div id='cpx-eulaBox-checkbox' class='cpx-aup-eulaBox-checkbox'>
	        		<input name='acceptAup' alt='EULA' id='acepto' type='checkbox' checked  onclick='checkEula();'/>
	      		</div>
	      		<div style='clear: both;'></div>
	    	</div>
	  	</div>
  		<div style='clear: both;'></div>

  		<div class='cpx-content-line cpx-aup-line'></div>
	  	<div class='cpx-content-buttonBar cpx-aup-buttonBar'>
	    	<div id='continue-div' class='cpx-continue cpx-aup-continue'>
	      		<a id="continue-button" href="{{ path('login') }}?{{url}}">INICIO ></a>
	    	</div>
	    	<div style='clear: both;'></div>
	  	</div>
  		<div class="cpx-hidden-submit"><input type="submit" tabindex="-1"/></div>
	</div>

{% endblock %}

{% block javascripts %}
<script>
    function checkEula()
    {
    	if($("#acepto").is(':checked'))
    	{
    	   $("#continue-div").removeClass('ocultar');	
    	}
    	else
    	{
    		$("#continue-div").addClass('ocultar');
    	}
    }
</script>
{% endblock %}